@charset "UTF-8";
/*img{
    width: 1096px;
    height: 1912px;
    z-index: -3;
    opacity: .15;
}*/
body {
  border-color: black;
  border-style: solid;
}
body main {
  max-width: 100%;
  /*width: 1096px;
  height: 1912px;*/
  position: relative;
}
body main p,
body main li {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
body main .postertext {
  position: absolute;
  z-index: 2;
}
body main .postertext span {
  font-size: 30px;
}
body main .postertext__list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}
body main .postertext__list a {
  text-decoration: none;
  color: black;
}
body main .postertext__list--2::before {
  content: "•";
}
body main .postertext__list--4::before {
  content: "•";
}
body main .postertext__footer {
  max-width: 100%;
  background-color: #005BA7;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
body main .postertext__footer a {
  text-decoration: none;
  color: #FFFFFF;
}
body main .postertext__footer--link {
  margin: 20px 20px;
  padding-right: 20px;
  border-right: solid #FFFFFF 5px;
}
body main .postertext__footer--mail {
  margin: 20px 20px;
}
body main .postertext__footer img {
  width: 500px;
  height: 50px;
  padding: 0 20px 20px 0;
  margin: 20px 20px 20px 100px;
  border-right: solid #FFFFFF 5px;
}
body main .postertext__h1 {
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  color: #005BA7;
  z-index: 1;
  left: 5%;
  margin-top: -20px;
}
body main .postertext__h1 h1 {
  font-weight: 800;
  font-size: 40px;
}
body main .postertext__h1 span {
  color: rgb(6, 178, 6);
}
body main .postertext__h1 .postertext__h1--p {
  color: black;
  font-size: 20px;
}
body main .postertext__h2 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 35px;
  position: absolute;
  z-index: 3;
  top: 60%;
  left: 35%;
}
body main .postertext__earth1 {
  position: absolute;
  font-size: 25px;
  top: 55%;
  left: 7%;
}
body main .postertext__earth2 {
  position: absolute;
  font-size: 25px;
  top: 40%;
  left: 40%;
}
body main .postertext__earth3 {
  position: absolute;
  font-size: 25px;
  top: 40%;
  left: 85%;
}
body main .postertext__earth4 {
  position: absolute;
  font-size: 25px;
  top: 85%;
  left: 85%;
}
body main .postertext__earth5 {
  position: absolute;
  font-size: 25px;
  top: 85%;
  left: 45%;
}
body main .background__blue--path {
  /*height: 700px; */
}
body main .background__blue--path .postertext {
  color: #FFFFFF;
  font-family: "Comic Sans MS", cursive;
  font-size: 25px;
  top: 27%;
  left: 5%;
}
body main #earth .earth__background--blue {
  fill: #00B1DC;
  stroke: black;
  stroke-width: 5px;
  position: absolute;
  z-index: -3;
}
body main #earth .earth__background--eye {
  fill: black;
  stroke: #FFFFFF;
}
body main .poster__element--moon {
  fill: #dedcdc;
  stroke: black;
  stroke-width: 5px;
  z-index: 2;
}
body main .poster__element--mooneyes {
  fill: black;
}
body main .background {
  /*max-width: 100%;*/
  position: relative;
}
body main .background__white--path {
  height: 400px;
  background-color: #FFFFFF;
  overflow: hidden;
}
body main .background__white--path1 {
  content: "";
  position: relative;
  width: 1000px;
  height: 400px;
  background: #005BA7;
  border-radius: 50%;
  top: 115%;
  left: 80%;
  transform: translate(-50%, -50%);
}
body main .background__blue--path {
  max-width: 100%;
  height: 400px;
  background-color: #005BA7;
  overflow: hidden;
}
body main .background__white--path2 {
  content: "";
  position: relative;
  width: 1500px;
  height: 850px;
  background: #FFFFFF;
  border-radius: 50%;
  top: 100%;
  right: 50%;
  transform: translate(-50%, -50%);
}
body main .background__blue--path::before {
  content: "";
  position: absolute;
  width: 700px;
  height: 400px;
  background: #00B1DC;
  border-radius: 100%;
  top: 150%;
  left: 20%;
  transform: translate(-50%, -50%);
}
body main .background__lightblue--path {
  max-width: 100%;
  height: 500px;
  background-color: #00B1DC;
  overflow: hidden;
  z-index: 1;
}
body main .background__lightblue--path::before {
  content: "";
  position: absolute;
  width: 1200px;
  height: 500px;
  background: #005BA7;
  border-radius: 100%;
  top: -65%;
  left: 75.5%;
  transform: translate(-50%, -50%);
}
body main .background__lightblue--path1 {
  content: "";
  position: absolute;
  width: 1000px;
  height: 900px;
  background: #C77161;
  border-radius: 100%;
  top: 185%;
  left: 75%;
  transform: translate(-50%, -50%);
}
body main .background__red--path {
  max-width: 100%;
  height: 1000px;
  background-color: #C77161;
  overflow: hidden;
}
body main .background__red--path::before {
  content: "";
  position: absolute;
  width: 1250px;
  height: 1000px;
  background: #00B1DC;
  border-radius: 100%;
  top: -70%;
  left: 25%;
  transform: translate(-50%, -50%);
}
body main .background__red--path1 {
  content: "";
  position: absolute;
  width: 950px;
  height: 800px;
  background: #FFFFFF;
  border-radius: 100%;
  top: 140%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.earth {
  max-width: 100%;
}

.car {
  position: relative;
  z-index: 3;
  width: 200px;
  left: 31%;
}

.starone {
  position: relative;
  z-index: 3;
  width: 100px;
  left: 80%;
  top: 40%;
}

.startwo {
  position: relative;
  left: 82%;
  top: 40%;
  z-index: 3;
  width: 50px;
}

.greencloud--small {
  position: relative;
  width: 50px;
  left: 75%;
  top: 50%;
}

.personone {
  position: absolute;
  width: 300px;
  top: 7%;
  left: 60%;
  z-index: 3;
}

.persontwo {
  position: absolute;
  width: 300px;
  top: -5%;
  left: 40%;
  z-index: 3;
}

.persontree {
  position: absolute;
  width: 300px;
  top: 4%;
  left: 15%;
  z-index: 3;
}

/*.personone {
    position: relative;
    width: 200px;
    bottom: 10%;
    left: 70%;
    z-index: 3;
}*//*# sourceMappingURL=style.css.map */