// Set thr width and height in body. The elements in the poster is then placed in this space
body{
    width: 800px;
    height: 1200px;
}

// The main poster cointainer
#posterContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    p{
        margin: 0;
        font-family: "marydale", sans-serif;
        font-size: 1rem;
        line-height: 20px;
    }

    img{
        position: absolute;
    }

    // The background svg's
    #lightBlueWave{
        top: 20%;
    }
    #blueWave{
        top: 0;
    }
    #redWave{
        bottom: 18.5%;
    }
    #whiteWave{
        top: 0;
    }
    #earth{
        bottom: 4%;
    }



  
    // The "header" with the h1 text in blue and green
    /*header{
        position: absolute;
        top: 5%;
        left: 5%;
        width: 30%;

        h1{
            margin-bottom: 20px;
            font-family: "open-sans", sans-serif;
            font-size: 3rem;
            color: #005ba7;
            font-weight: 700;
            line-height: 50px;

            span{
                color: rgb(1, 150, 1);
            }
        }

    }*/

    // The svg images
        #moon{
            width: 20%;
            top: 15%;
            right: 15%;
        }
        #starOne{
            width: 8%;
            top: 10%;
            right: 8%;
        }
        #starTwo{
            width: 5%;
            top: 17%;
            right: 5%;
        }
        #pathToMoon{
            top: 20%;
            left: 0;
            width: 70%;
        }
        
        #car{
            width: 20%;
            top: 28%;
            right: 36%;
        }
  
        #cloud1{
            width: 5%;
            left: 10%;
            top: 50%;
            }
        #cloud2{
            width: 5%;
            left: 12%;
            top: 48%;
            }
        #cloud3{
            width: 8%;
            left: 20%;
            top: 45%;
            }
        #cloud4{
            width: 5%;
            
            }
        #cloud5{
            width: 5%;
            }
        #cloud6{
            width: 5%;
            }
        #cloud7{
            width: 5%;
            }
        #cloud8{
            width: 5%;
            }
        #cloud9{
            width: 5%;
            }
        #cloud10{
            width: 5%;
            }
        #cloud11{
            width: 5%;
            }


    // The poster text
    /*.lightblue{
        z-index: 1;
        color: white;
        width: 35%;
        top: 105%;
        left: 5%;
        }

    .earthText{
        z-index: 5;
        width: 15%;
        font-weight: 600;
    }
    .left{
        top: 300%;
        left: 10%;
    }
    .middle{
        top: 300%;
    }
    .heading{
        top: 300%;
    }
    .middle-bottom{
        top: 300%;
    }
    .right{
        .-bottom{
            top: 350%;
        }
        .-top{
            top: 300%;
        }
    }*/

    #whiteFooterInfo{
        position: absolute;
        background-color: white;
        width: 100%;
        height: 40px;
        bottom: 5%;
        p{
            width: 90%;
            display: flex;
            font-size: 0.8rem;

        }
    } 
    #info{
        position: absolute;
        width: 100%;
        background-color: #0C5BA9;
        bottom: 0;
        p{
            color: white;

        }
    }


       

        
   
}

