body{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
   
}

.poster__background{
    position: relative;

    .lightBlue{
        position: absolute;
        top: 20vw;
    }

    .blue{
        position: absolute;
    }

    .white{
        position: absolute;
    }

    .red{
        position: absolute;
        top: 50vh;
    }

    .earth{
        position: absolute;
        top: ;
    }

    .footer-white{
        position: absolute;
        top: 94;
    }

    .footer-blue{
        position: absolute;
        top: 96.3vw;
    }
}